.InWrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: -2px;
  margin-bottom: 50px;
  width: 100%;
}
@media (min-width: 372px) {
  .InWrapper {
    width: 100%;
  }
}
.helperText {
  margin-top: -40px;
  margin-bottom: 50px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #d32f2f;
}
