.btnFindAddress {
  background: #6998ab;
  width: 100%;
  max-width: 210px;
  height: 47px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: #154868;
  font-size: 17px;
  padding-left: 22px;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    background: #3b7b94;
  }
}

.selectAddress {
  width: 684px;
}

.addressText {
  color: #154868;
  font-size: 18px;
  line-height: 25px;
}

.addressTextWrapper {
  // margin-bottom: 30px;
  margin-bottom: 15px;
}

@media (max-width: 930px) {
  .selectAddress {
    max-width: 280px;
    width: 100%;
  }
  .wrapper {
    max-width: 280px;
  }
}
