body {
  max-width: 1920px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  background: #e8edef;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
